/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

/* Custom properties */

:root {
    --ff-sans: "Lato", sans-serif;
  
    /* small screen font-sizes */
    --fs-200: 0.75rem;
    --fs-300: 1rem;
    --fs-400: 1.25rem;
    --fs-500: 1.375rem;
    --fs-600: 1.75rem;
    --fs-800: 2rem;
    --fs-900: 2.125rem;
  
    --fw-100: 100;
    --fw-300: 300;
    --fw-400: 400;
    --fw-500: 500;
    --fw-600: 600;
    --fw-700: 700;
    --fw-900: 700;
  
    --clr-neutral-100: #fff;
    --clr-neutral-200: #f7f7f7;
    --clr-neutral-300: #a9afbc;
    --clr-neutral-400: #777;
    --clr-neutral-500: #434956;
    --clr-neutral-600: #333;
    --clr-neutral-900: #020203;
  
    --clr-primary-300: #f3f7ff;
    --clr-primary-400: #8ea8da;

    --clr-accent-300:#7ed56f; /*rgba(126, 213, 111, 1)*/
    --clr-accent-500:#55c57a; /*rgba(85, 197, 122, 1)*/
    --clr-accent-700:#28b485; /*rgba(40, 180, 133, 1)*/

    --clr-subtitle: linear-gradient(to right, #7ed56f , #28b485);

    --box-shadow:0 8px 16px 0 rgba(0,0,0,0.2);

    --header-linear-gradient: linear-gradient(to bottom right, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8));
    --orange-linear-gradient: linear-gradient(to bottom right, rgba(255, 185, 0, 0.8), rgba(255, 119, 48, 0.8));
    --blue-linear-gradient: linear-gradient(to bottom right, rgba(41, 152, 255, 0.8), rgba(86, 67, 250, 0.8));
    --spacer-small:.25rem;
    --spacer: .5rem;
    --spacer-large:1rem;
    --spacer-xlarge:2rem;
    --spacer-xxlarge:3rem;
    --spacer-xxxlarge:6rem;
  }
  
  @media (min-width: 40em) {
    :root {
      --fs-500: 1.375rem;
      --fs-600: 2.125rem;
      --fs-900: 4.25rem;
      --spacer-small:.5rem;
      --spacer: 1rem;
      --spacer-large:1.5rem;
    --spacer-xlarge:4rem;
    --spacer-xxlarge:6rem;
    --spacer-xxxlarge:10rem;
      
    }
  }
  
  /* reset */
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  h1,
  .h1,
  h2,
  .h2,
  h3,
  .h3,
  h4,
  .h4 {
    line-height: 1;
  }
  
  body,
  h1,
  h2,
  h3,
  p,
  dl,
  dd,
  figure {
    margin: 0;
  }
  
  ul[class],
  ol[class] {
    list-style: none;
    padding: 0;
  }
  
  input,
  button,
  textarea,
  select {
    font: inherit;
  }
  
  img {
    max-width: 100%;
    height: auto;
    display: block;
  }
  
  body {
    line-height: 1.3;
    font-family: var(--ff-sans);
    font-size: var(--fs-400);
    font-weight: 300;
    margin: 1.5rem;
    
  }
  
  
  /* typography */
  
  h1,
  h2,
  h3,
  .section-subtitle,
  .text-serif {
    font-weight: var(--fw-200);
  }
  
  a {
    font-weight: var(--fw-700);
    font-size: var(--fs-300);
    color: var(--clr-neutral-900);
  }
  
  a:hover,
  a:focus {
    color: var(--clr-primary-400);
  }
  
  .page-title {
    font-size: var(--fs-900);
    letter-spacing: var(--spacer-large);
    display: inline-block;
    font-weight: var(--fw-500);
    text-transform: uppercase;
    animation-name: moveToRight;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(.15,-0.54,.77,1.52);
  }
  
  .page-subtitle {
    font-size: var(--fs-500);
    font-weight: var(--fw-400);
    letter-spacing: var(--spacer);
    display: inline-block;
    text-transform: uppercase;
    animation-name: moveToLeft;
    animation-duration: 1s;
    animation-timing-function:cubic-bezier(.15,-0.54,.77,1.52);
  }
  
  .section-title {
    font-size: var(--fs-600);
    color: var(--clr-subtitle);
    background: linear-gradient(to right,#7ed56f,#28b485);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-weight: var(--fw-700);
    
  }

  .section-subtitle {
    font-size: var(--fs-400);
    color: var(--clr-neutral-400);
    font-weight: var(--fw-400);
  }

  .section-link{
      color: var(--clr-accent-500);
      text-decoration: none;
      border-bottom: 1px solid var(--clr-accent-500);
      padding: var(--spacer-small);
      transition: all .1s;
      display: inline-block;
  }
  .section-link:hover,
  .section-link:focus{
      color: var(--clr-neutral-100);
    background-color: var(--clr-accent-500) ;
  }

  .skew-text{
    display: inline-block;
    transition: all .2s;
    position: relative;
  }

  .skew-text:hover{
    transform: skew(var(--skew-deg,15deg)) scale(1.05) rotate(2deg);
    color: var(--clr-accent-500)
}

  .skew-text::before{
    position: absolute;
    content: "";
    left: 2px;
    right: 2px;
    bottom: -4px;
    height: 30%;
    background-color: gray;
    filter: blur(16px);
    transform: rotateX(45deg);
    opacity: 0;
    transition: all .2s;
  }

  .skew-text:hover::before {
    opacity: 1;
  }
  
  .btn {
    display: inline-block;
    cursor: pointer;
    border: 0;
    border-radius: 100rem;
    text-transform: uppercase;
    background: none;
    font-weight: var(--fw-500);
    font-size: var(--fs-300);
    font-family: var(--ff-sans);
    text-decoration: none;
    padding: var(--spacer) var(--spacer-large);
    background-color: var(--bg,var(--clr-neutral-100));
    color: var(--fg,var(--clr-neutral-400));
    transition: all .2s;
    position: relative;
  }

  .btn::before{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 100rem;
    z-index: -1;
    background-color: var(--bg,var(--clr-neutral-100));
    transition: all .3s;
  }
  
  .btn:hover,
  .btn:focus {
      box-shadow: var(--box-shadow);
  }

  .btn:hover::before{
      transform: scale(1.5);
      opacity: 0;
  }
  
  /* general layout */
  
  section {
    padding: 2.5rem 0;
  }
  
  @media (min-width: 40em) {
    section {
      padding: 3.5rem 0;
    }
  }
  
  .container {
    max-width: 60rem;
    margin: 0 auto;
  }
  
  .flow-content > * + * {
    margin-top: var(--flow-spacer, 1em);
  }
  .flow-content-large > * + * {
    margin-top: var(--flow-spacer, 3em);
  }
  
  .split {
    display: flex;
    flex-direction: column;
  }
  
  .split > * + * {
    margin: 4rem 0 0 0;
  }
  
  .split > * {
    flex-basis: 100%;
  }
  
  @media (min-width: 40em) {
    .split {
      flex-direction: row;
    }
  
    .split > * + * {
      margin: 0 0 0 2.5rem;
    }
  }
  
  .xl-space {
    margin-top: var(--spacer-xxlarge);
  }
  .l-space{
    margin-top: var(--spacer-xlarge);
  }
  
  /* menu */
  .menu{
    position: relative;
    background-color: red;
  }
  .menu .nav-toggle{
    box-shadow: var(--box-shadow);
    z-index: 55;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 500rem;
    padding: var(--spacer);
    width: 4rem;
    aspect-ratio: 1;
  }
  .menu input{
    opacity: 0;
  }
  .menu .nav-toggle,.menu input, .menu .nav,.menu .nav-background{
    position: fixed;
    right: 3rem;
    top: 4rem;
    transition: all .5s cubic-bezier(.15,-0.54,.77,1.52);
  }
  .menu .nav-background{
    width: 3rem;
    height: 3rem;
    border-radius: 10rem;
  }
  .menu .nav{
    position: fixed;
    height: 100vh;
    opacity: 0;
    top: 10%;
    left: -100%;
    transition: all .5s cubic-bezier(.15,-0.54,.77,1.52);
    text-align: center;
    z-index: 10;
    width: 0;
  }

  

  .menu .nav a{
    text-decoration: none;
    color: var(--clr-neutral-100);
    font-weight: var(--fw-400);
    font-size: var(--fs-400);
    position: relative;
    padding: var(--spacer);
    overflow: hidden;
    display: inline-block;
    transition: all .5s;
  }
  @media (min-width:80em){
    .menu .nav a{
      font-size: var(--fs-800);
    }
  }

  .menu .nav a::before{
    position: absolute;
    content: "";
    top: 0;
    left: 120%;
    bottom: 0;
    width: 150%;
    background-color: white;
    transform: skew(-20deg);
    transition: all .5s cubic-bezier(.15,-0.54,.77,1.52);
    z-index: -1;

  }
  .menu .nav a:hover{
    color: var(--clr-accent-500);
  }
  .menu .nav a:hover::before{
    transform: skew(-20deg) translateX(-90%);
  }
 
  .menu .nav-ico{
    display: block;
    width: 2rem;
    height: .2rem;
    background-color: black;
    position: relative;
  }
  .menu .nav-ico::before,.menu .nav-ico::after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
  }
  .menu .nav-ico::before{
    transform: translateY(-0.4rem);
    transition: all .2s;
  }
  .menu .nav-ico::after{
    transform: translateY(0.4rem);
    transition: all .2s;
  }
  .menu .nav-toggle:hover .nav-ico::before{
    transform: translateY(-0.6rem);
  }
  .menu .nav-toggle:hover .nav-ico::after{
    transform: translateY(0.6rem);
  }
  .menu input:checked ~ .nav-toggle .nav-ico::before{
    transform: rotate(45deg);
  }  
  .menu input:checked ~ .nav-toggle .nav-ico::after{
    transform: rotate(-45deg);
  }  
  .menu input:checked ~ .nav-toggle .nav-ico{
    background-color: transparent;
  }  
  .menu input:checked ~ .nav-background{
    z-index: 4;
    transform: scale(90);
    background-image: var(--clr-subtitle);
  }
  .menu input:checked ~ .nav{
  
   left: 50%;
   transform: translateX(-50%);
   opacity: 1;
   width: 100%;
    
  }
  

  /* header */
  .header{
    background-image:var(--header-linear-gradient), url("/img/hero.jpg");
    background-size: cover;
    color: var(--clr-neutral-100);
    padding: var(--spacer-large);
    --flow-spacer:var(--spacer-large);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    
    
  }
  .header .logo{
      height: 2rem;
      cursor: pointer;
  }
  .header .content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: var(--spacer-xxxlarge) 0;
    transform: translateY(calc(-1 * var(--spacer-xlarge)));
  }
  .header .content .btn{
    animation-name: moveToUp;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-delay: 1s;
    animation-fill-mode: backwards;
  }

  /* about */
  .about{
      text-align: center;
  }

  .about .content{
      margin-top: var(--spacer-xlarge);
      text-align: start;
  }
  .about .content p{
      color: var(--clr-neutral-400);
  }
  .about .content a{
      display: inline-block;
  }

  .about .img-container{
      position: relative;
      min-height: 20rem;
  }
  .about img{
    position: absolute;
    width: 70%;
    outline-offset: var(--spacer);
    transition: all .15s;
    border-radius: 2px;
  }
  .about img:hover{
      z-index: 4;
      outline: var(--spacer) solid var(--clr-accent-500);
      box-shadow: var(--box-shadow);
      transform: scale(1.1);
  }
  .about .img-1{
      top: -2rem;
      z-index: 1;
  }
  .about .img-2{
    top: 2rem;
    left: 5rem;
    z-index: 2;
    }
  .about .img-3{
    top: 8rem;
    left: 2rem;
    z-index: 3;
  }

  /*features*/
  .features{
    background-image:var(--header-linear-gradient), url("/img/nat-4.jpg");
    background-size: cover;
    clip-path: polygon(0 15%, 100% 0, 100% 85%, 0 100%);
  }

  .features .feature-container{
    display: flex;
    gap: var(--spacer-large);
    flex-wrap: wrap;
    margin: var(--spacer-xxxlarge) 0;
  }

  .features .feature{
    background-color: rgba(255, 255, 255, 0.8);
    padding: var(--spacer-large);
    text-align: center;
    flex-basis: calc(25% - var(--spacer-large));
    flex-grow: 1;
    min-width: 12rem;
    border-radius: var(--spacer-small);
    transition: all .3s;
  }

  .features .feature:hover{
    transform: scale(1.02) translateY(-1rem);
    box-shadow: var(--box-shadow);
  }

  .features .feature svg{
    fill: var(--clr-accent-500);
  }

  /* tours */
  .popular-tours{
    perspective: 30rem;
    --bg:var(--clr-accent-500);
    --fg:var(--clr-neutral-100);
    text-align: center;
  }

  .popular-tours .cards{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: var(--spacer-xlarge);
    justify-content: center;
  }

  @media(min-width:40em){
    .popular-tours .cards{
      flex-direction: row;
    }
  }

  .popular-tours .card{
    width: 100%;
    min-height: 26rem;
    position: relative;
    transition: transform 1s;
    transform-style: preserve-3d;
    transform-origin: center right;
    box-shadow: var(--box-shadow);
    min-width: 15rem;
    flex-basis: calc(33% - var(--spacer-xlarge));
  }

  .popular-tours .card:hover {
    transform: translateX(-100%) rotateY(-180deg);
  }

  .popular-tours .card .face{
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    transform: rotateX(0deg);   
  }

  .popular-tours .card .front {
    text-align: center;
  }

  .popular-tours .card .front ul{
    padding: 0 var(--spacer-large);
  }
  
  .popular-tours .card .front li:not(:last-child){
    border-bottom: 1px solid var(--clr-neutral-300);
  }

  .popular-tours .card .back {
    transform: rotateY( 180deg );
    color: var(--clr-neutral-100);
    padding: var(--spacer-xxlarge) var(--spacer-xlarge);
    text-align: center;
    --bg:var(--clr-neutral-100);
    --fg:var(--clr-neutral-400);
  }

  .popular-tours .card .img{
    height: 10rem;
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    opacity: .9;
  }
  .popular-tours .card .img h2{
    color: white;
    text-transform: uppercase;
    font-weight: var(--fw-500);
    padding: var(--spacer);
    text-align: end;
  }
  .popular-tours .card .img h2 span{
    line-height: 1.3;
    
  }

  .popular-tours .card-1 .img h2 span{
    background-image: var(--orange-linear-gradient);
  }

  .popular-tours .card-2 .img h2 span{
    background-image: var(--header-linear-gradient);
  }

  .popular-tours .card-3 .img h2 span{
    background-image: var(--blue-linear-gradient);
  }

  .popular-tours .card-1 .img{
    background-image:var(--orange-linear-gradient), url("/img/nat-5.jpg");
  }
  
  .popular-tours .card-1 .back{
    background: var(--orange-linear-gradient)
  }

  .popular-tours .card-2 .img{
    
    background-image:var(--header-linear-gradient), url("/img/nat-6.jpg");
  }

  .popular-tours .card-2 .back{
    background:var(--header-linear-gradient)
  }

  .popular-tours .card-3 .img{
    background-image:var(--blue-linear-gradient), url("/img/nat-7.jpg");
  }

  .popular-tours .card-3 .back{
    background:var(--blue-linear-gradient)
  }
 
  /*testimonials*/
  .testimonials{
    position: relative;
    text-align: center;
  }

  .testimonials .video{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: .15;
    overflow: hidden;
  }

  .testimonials .video video{
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .testimonials .testimonial{
    display: flex;
    gap: var(--spacer-large);
    padding: var(--spacer-large) var(--spacer-xlarge);
    background-color: rgba(255, 255, 255, 0.8);
    transform: skewX(0);
    text-align: start;
  }
  @media (min-width:40em){
    .testimonial{
      transform: skewX(-6deg);
    }
    .testimonial .avatar-container{
      transform: skewX(6deg);
    }
  }

  .testimonials .testimonial p{
    color: var(--clr-neutral-400);
  }


  .testimonials .testimonial-content{
    flex-grow: 1;
  }

  .testimonial .avatar-container{
    overflow: hidden;
    max-width: 10rem;
    transform: skewX(0);
    height: min-content;
    border-radius: 100rem;
    
  }

  .testimonial .avatar-container:hover>img{
    transform: scale(1);
    filter: blur(2px) brightness(80%);
  }
  .testimonial .avatar-container:hover>.avatar-info{
    top: 50%;
    transform: translate(-50%,-50%);
    bottom: 0;
    opacity: 1;
  }

  .testimonial img{
    width: 100%;
    aspect-ratio: 1;
    align-self: center;
    transform: scale(1.2);
    transition: all .3s;
  }

  .testimonial .avatar-info{
    opacity: 0;
    position: absolute;
    bottom: -2.5rem;
    left: 50%;
    transform: translateX(-50%);
    transition: all .3s;
    
  }
  .testimonial .avatar-info p{
    color: white;
    font-weight: var(--fw-600);
  }

  /* book-now */
  .book-now{
    background: var(--header-linear-gradient);
    background-size: cover;
    --bg:var(--clr-accent-500);
    --fg:var(--clr-neutral-100);
  }
  .book-now .container{
    background-image:url("/img/nat-10.jpg");
    margin-top: var(--spacer-xlarge);
    margin-bottom: var(--spacer-xlarge);
  }
  .book-now .form{
    background-color: rgba(255,255,255,.8);
    display: flex;
    flex-direction: column;
    width: 60%;
    padding: var(--spacer-xlarge);
    clip-path: polygon(0 0, 100% 0, 85% 100%, 0 100%);
  }
  .book-now .form .text-input{
    padding: var(--spacer-small) var(--spacer);
    border: none;
    outline: none;
    border-bottom:2px solid transparent ;
  }
  .book-now .form .text-input:focus{
    border-bottom: 2px solid orange;
  }
  .book-now .form .input-radio-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .book-now .radio-input{
    display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  }
  .book-now .radio-input input{
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  .book-now .checkmark{
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;;
  }
  .book-now .radio-input:hover input ~ .checkmark {
    background-color: #ccc;
  }
  .book-now .radio-input .radio:checked ~ .checkmark {
    background-color: var(--clr-accent-500);
  }
  .book-now .radio-input input:checked ~ .checkmark::after {
    display: block;
  }
  .book-now .checkmark::after {
    content: "";
    position: absolute;
    top: 7px;
    left: 8px;
    width: 10px;
    height: 10px;
   border-radius: 50%;
   background: white;
   display: none;
 }
 .book-now .btn{
   width: inherit;
 }
  @media (min-width:40em){
    .book-now .form .input-radio-container{
      flex-direction: row;
    }
  }

  /*footer*/
  .footer{
    background-color: var(--clr-neutral-600);
    color: var(--clr-neutral-100);
    --skew-deg:-15deg;
  }
  .footer .container{
    padding-top: var(--spacer-xlarge);
    padding-bottom: var(--spacer-xlarge);
  }
  .footer img{
    margin: 0 auto;
  }
  .footer .bottom{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: var(--spacer-xlarge);
    gap: var(--spacer-xlarge);
  }
  .footer .bottom>div{
    border-top: 2px solid var(--clr-neutral-400);
    padding-top: 1rem;
  }
  .footer .links-list{
    display: flex;
    gap: 1rem;
    margin: 0;
  }
  .footer .right-part{
    font-size: var(--fs-200);
  }
  .footer .right-part a{
    font-size: var(--fs-300);
    margin: 0 .2rem;
  }
  .footer a{
    color: var(--clr-neutral-100);
    text-decoration: none;
  }

  @media(min-width:40em){
    .footer .bottom{
      flex-direction: row;
    }
  }




  /*animations*/
  @keyframes moveToRight {
    from {
        transform: translateX(-10rem);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
  }

  @keyframes moveToLeft{
    from {
        transform: translateX(10rem);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
  }

  @keyframes moveToUp{
    from {
        transform: translateY(3rem);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
  }
  

  
  